.fp-page-container {
    font-family: $font-family-sans-serif;
    hr {
        width: 2rem;
        border-top: 2.5px solid $primary;
    }
    h3 {
        font-family: $font-family-sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: xx-large;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
    a {
        @extend .btn;
        //margin-top: 1rem;
        @include button-outline-variant($primary);
        text-align: center;
    }

    a.highlight {
        @include button-variant($primary, $primary);;
    }
}

.mcms-header-container {
    h3 {
        font-family: $font-family-sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: xx-large;
    }

    a {
        @extend .btn;
        margin-top: 1rem;
        @include button-outline-variant($white);
        border-color: $white;
    }

    a:first-of-type {
        @include button-variant($white, $white);;
    }
}

