.pagelayout-frontpage {
    #region-main {
        border: initial;
        padding: initial;
    }
}

// A bit of a hack here: the definition in the core block does
// not fit our needs, so we reset it.

.pagelayout-mcmslayout, #page-site-index {
    .block, #region-main {
        border: none;
        background: transparent !important;
    }

    .block {
        .card-body {
            text-align: center;

            .card-title {
                max-width: 50%;
                @include media-breakpoint-down(sm) {
                    max-width: unset;
                }
                font-size: xx-large;
                color: $dark;
                font-family: $font-family-sans-serif;

                &::after {
                    content: "";
                    width: 2rem;
                    height: 2.5px;
                    background-color: $primary;
                    margin: 0.5rem auto 1em;
                    display: block;
                }
            }
            h5.card-title {
                font-weight: normal;
            }

            .content {
                text-align: initial;
            }
        }

        .card-text {
            max-width: 50%;
            @include media-breakpoint-down(sm) {
                max-width: unset;
            }
            @extend .container;

            h5 a {
                @extend .btn;
                @extend .btn-primary;
                text-decoration: none;
            }
        }
    }
}

.wave-divider-wrap {
    fill: white;
    height: 200px;
    width: 100%;
}

#page-site-index {

    .wave-heading-box {
        height: 730px;
    }

    .slider-bg-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .slider-content-right {
        margin-left: 50%;
    }

    .page-header-ressourcesnum {
        color: white;
        font-size: larger;
        font-family: $headings-font-family;

        h3 {
            font-size: xxx-large;
            font-family: $headings-font-family;
        }

        a {
            @extend .btn;
            min-width: 50%;
            margin-top: 1rem;
            @include button-outline-variant($white);
            border-color: $white;

        }

        a:first-of-type {
            @extend .btn-primary;
        }

    }
}