// MCMS Pages
.mcms-header-container {
    margin-right: auto;
    margin-left: auto;
    min-height: 30em;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    @include page-standard-style($headings-font-family);
    @include button-heading-style();
    h3 {
        text-align: left;
    }
}

// Block decoration

.pagelayout-mcmslayout {
    .block, #region-main {
        border: none;
        background: transparent !important;
    }
}