// General layout settings
@import "../../clboost/scss/commons";
@import "../../clboost/scss/drawer";

// Override for theme.


#page-wrapper {
    nav.navbar {
        padding: 1.5rem 1rem;
        height: $navbar-height;

        .logo img {
            padding: 0.75rem;
            max-height: 60px; // Make sure that the logo looks
        }

        .rf-logo {
            max-height: 60px;
            padding: unset;
        }

        @include media-breakpoint-down(sm) {
            padding: 0.5rem 1rem;
        }


    }
}

#page {
    margin-top: $navbar-height;
}

@import "navbar";
@import "footer";
@import "mcms";
@import "frontpage";
@import "contentstyle";
.card {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
    border: none;

    &.border-0 {
        box-shadow: unset;
    }
}

.block.card {
    box-shadow: unset;
}


// Fixes

// Fix the issue with block menus partially hidden

#region-main {
    overflow-x: visible;
}

.breadcrumb {
    background-color: transparent;
}

*:focus {
    outline-color: lightgray;
    outline-style: dashed;
    outline-width: thin;
}
