// This file is intentionally empty.

.pagelayout-frontpage {
    #region-main {
        border: initial;
        padding: initial;
    }
}

.header-image {
    max-height: $navbar-height;
}

.logo img {
        padding: 0.75rem;
        max-height: 60px; // Make sure that the logo looks
}
#page-wrapper {
    nav.navbar {
        padding: 1.5rem 1rem;
        height: $navbar-height;

        .logo img {
            padding: 0.75rem;
            max-height: 60px; // Make sure that the logo looks
        }

        .rf-logo {
            max-height: 60px;
            padding: unset;
        }

        @include media-breakpoint-down(sm) {
            padding: 0.5rem 1rem;
        }


    }
}

#page {
    margin-top: $navbar-height;
}

// Navbar


.navbar-brand {
    font-size: 1rem; // Normal font.
    padding-top: initial;
    padding-bottom: initial;
}

.site-name, .custom-menu {
    color: $gray-600;
    min-width: 30%;
}

.site-name {
    font-variant: all-small-caps;
    font-family: $headings-font-family;
    font-weight: bold;
    font-size: x-large;

    strong {
        color: $primary;
    }
}

.navbar-light .navbar-nav .nav-link {
    &:focus, &:hover {
        color: $gray-900;
        font-weight: bold;
        text-decoration: $primary underline;
    }

    color: $gray-900;
}

#nav-drawer {
    background-color: white;

    .list-group li {
        margin-bottom: 0.5rem;
    }

    .list-group {
        margin-top: 0.5rem !important;
    }

    .list-group-item {
        box-shadow: 0 2px 0.5rem 0 rgba(0, 0, 0, 0.15);
        border: none;
    }
}

.navbar {
    box-shadow: none;
}

#page-footer {

    a,
    a:hover,
    a:active,
    a:visited {
        color: $gray-600;
        text-decoration: none;
    }

    a:focus {
        color: $gray-900;
    }


    .logos-footer {
        padding-top: 3em;
        padding-bottom: 3em;
    }

    // Hide starting at `min-width: 0`, and then show at the `sm` breakpoint
    @include media-breakpoint-up(sm) {
        .logos-footer {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    }

    .logos-footer img {
        padding: 1em;
    }

    img.ma-logo {
        width: 221px;
    }

    img.envf-logo {
        max-height: 70px;
    }

    .infos-footer {
        padding-top: 2em;
    }
    .mesri-logo {
        padding: 1rem;
    }
}

// Block decoration

.pagelayout-mcmslayout {
    .block, #region-main {
        border: none;
        background: transparent !important;
    }
}

// MCMS Pages
.mcms-header-container {
    margin-right: auto;
    margin-left: auto;
    min-height: 30em;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

    h3 {
        font-family: $font-family-sans-serif;
        font-weight: bold;
        align-self: center;
        font-size: xx-large;
    }
    a {
        @extend .btn;
        margin-top: 1rem;
        @include button-outline-variant($white);
        border-color: $white;

    }

    a:first-of-type {
        @include button-variant($white, $white);;
    }
}


// A bit of a hack here: the definition in the core block does
// not fit our needs, so we reset it.
.pagelayout-mcmslayout, #page-site-index {
    .block, #region-main {
        border: none;
        background: transparent !important;
    }
    .block {
        .card-body {
            text-align: center;
            .card-title {
                max-width: 50%;
                @include media-breakpoint-down(sm) {
                    max-width: unset;
                }
                font-size: xx-large;
                color: $dark;
                font-family: "GandhiSans";
                &::after {
                    content: "";
                    width: 2rem;
                    height: 2.5px;
                    background-color: $primary;
                    margin: 0.5rem auto 1em;
                    display: block;
                }
            }
            .content {
                text-align: initial;
            }
        }
        .card-text  {
            max-width: 50%;
            @include media-breakpoint-down(sm) {
                max-width: unset;
            }
            @extend .container;


            a {
                text-decoration: underline;
            }
            h5 a {
                @extend .btn;
                @extend .btn-primary;
                text-decoration: none;
            }
        }
    }
}

.wave-divider-wrap {
    fill: white;
    height: 200px;
    width: 100%;
}

#page-site-index {
    .wave-heading-box {
        background: url([[pix:theme_ressourcesnum|bg/iceberg]]) center center no-repeat,
        linear-gradient(111deg, rgba(0, 0, 0, 0) 26%, rgba(0, 0, 0, 0.5) 59%);
        background-size: cover;
        height: 730px;
    }

    .page-header-ressourcesnum {
        margin-left: 50%;
        max-width: 50%;
        color: white;

        h3 {
            font-size: xx-large;
        }

        a {
            @extend .btn;
            min-width: 50%;
            margin-top: 1rem;
            @include button-outline-variant($white);
            border-color: $white;

        }

        a:first-of-type {
            @extend .btn-primary;
        }
    }
}

.card {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
    border: none;

    &.border-0 {
        box-shadow: unset;
    }
}

.block.card {
    box-shadow: unset;
}


// Fixes

// Fix the issue with block menus partially hidden

#region-main {
    overflow-x: visible;
}

.breadcrumb {
    background-color: transparent;
}

*:focus {
    outline-color: lightgray;
    outline-style: dashed;
    outline-width: thin;
}
