// Bootswatch

//
// Color system
//

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #aaa !default;
$gray-600: #666 !default;
$gray-700: #495057 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black: #000 !default;

$blue: #002182 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #e0001e !default;
$orange: #fd7e14 !default;
$yellow: #F5E625 !default;
$green: #22B24C !default;
$teal: #20c997 !default;
$cyan: #369 !default;

$light-blue: #002cf2;
$light-red: #f2002c;
$dark-blue: #000d47;
$dark-red: #47000d;

$primary: #f3002c !default;
$secondary: #4a4a4a !default;
$success: #00f265 !default;
$info: #f200ee !default;
$warning: #f24d00 !default;
$danger: #9c001d !default;
$light: #888a8b !default;
$dark: #292b2a !default;

// Other
$info-outline: #9c0099;
$warning-outline: #9c3100;

// Fonts
// See fonts.css (as we cannot import them in the scss)

$font-family-sans-serif: "GandhiSans", sans-serif !default;
$font-family-button: "GandhiSans", sans-serif !default;

$headings-font-family: "HKGrotesk", sans-serif !default;
$headings-font-weight: 600 !default;
$headings-line-height: 1.1 !default;

// Buttons

$input-btn-padding-x: 1rem !default;
$button-font-weight: 600 !default;

// Navbar
$navbar-dark-hover-color: rgba($white, 1) !default;
$navbar-light-color: rgba($black, 0.6) !default;
$navbar-light-hover-color: rgba($black, .9) !default;
$nav-highlight-font-weight: 600 !default;

// Navdrawer
$drawer-width: 285px !default;
$drawer-width-semi-expanded: 106px !default;

// Pagination

$pagination-hover-color: $white !default;
$pagination-hover-bg: $primary !default;
$pagination-hover-border-color: $primary !default;

// Variables ===================================================================

$nav-drawer-width: 285px;
$drawer-toggle-width: 50px;
$navbar-height: 93px;

