{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/frontpage

    Admin time setting template.

    Boost 2 column layout template for the frontpage.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}

<div id="page-wrapper" class="d-print-block">

    {{{ output.standard_top_of_body_html }}}

    {{> theme_boost/navbar }}
    {{> theme_boost/nav-drawer }}

    <div id="page" class="container-fluid d-print-block p-x-0">
        {{{ output.context_header_settings_menu }}}

        <div id="page-content" class="row pb-3 d-print-block m-x-0">
            <div id="region-main-box" class="col-12 p-x-0">
                <div class="container-fluid fp-header wave-heading-box position-relative p-x-0">
                    <div class="page-header-ressourcesnum h-100">
                        <div class="glide h-100">
                            <div class="glide__track h-100" data-glide-el="track">
                                <ul class="glide__slides h-100">
                                    {{#carousel}}
                                        <li class="glide__slide">
                                            <div style="background-image: linear-gradient(111deg, rgba(255, 255, 255, 0) 26%, {{destcolor}} 59%), url({{imageurl}});"
                                                 class="slider-bg-image h-100">
                                                <div class="container">
                                                    <div class="slide-content row {{#slidercontentright}} justify-content-end {{/slidercontentright}}">
                                                        <div class="text-white col col-md-6 p-3 p-md-5">{{{text}}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {{/carousel}}
                                </ul>
                            </div>
                            <div class="glide__bullets" data-glide-el="controls[nav]">
                                {{#carousel}}
                                    <button class="glide__bullet" data-glide-dir="={{index}}"></button>
                                {{/carousel}}
                            </div>
                        </div>
                    </div>
                    {{> theme_ressourcesnum/waveheading}}
                </div>
                {{#hasregionmainsettingsmenu}}
                    <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
                        <div> {{{ output.region_main_settings_menu }}} </div>
                    </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main" aria-label="{{#str}}content{{/str}}">
                    {{#hasregionmainsettingsmenu}}
                        <div class="region_main_settings_menu_proxy"></div>
                    {{/hasregionmainsettingsmenu}}
                    {{{ output.course_content_header }}}
                    <div class="container fp-page-container pt-3 pt-md-5">
                        {{{pagecontent}}}
                    </div>
                    {{#hasblocks}}
                        {{{ contentblocks }}}
                    {{/hasblocks}}
                    {{{ output.main_content }}}
                    {{{ output.activity_navigation }}}
                    {{{ output.course_content_footer }}}
                </section>
            </div>
        </div>
    </div>
    {{{ output.standard_after_main_region_html }}}
    {{> theme_boost/footer }}
</div>

</body>
</html>
{{> theme_clboost/twostatedrawer }}

{{#js}}
    require(['theme_ressourcesnum/glide'], function(Glide) {
    let glide = new Glide('.page-header-ressourcesnum .glide', {
    //        type: 'carousel',
    autoplay: false
    });
    glide.mount();
    });
{{/js}}